---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<h1>博客列表</h1>

<ul>
    {posts.map(post => (
            <li>
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                — <small>{post.data.date}</small>
            </li>
    ))}
</ul>