---
import "../styles/global.css"
import Card from './Card.astro'
import AboutMe from './AboutMe.astro'
const cardList = [
    {url:'/blog', title: '我的博客', description: '开发经验与想法',listType:'blog'},
    {url:'/golangBlog', title: 'GO语言学习', description: '一个前端程序员该如何学习golang',listType: 'golangBlog'},
]
---

<div id="container">
    <AboutMe />
    <div class="content">
        {
            cardList.map((card) => {
                return <Card listType={card.listType} url={card.url} title={card.title} description={card.description}/>
            })
        }
    </div>
</div>

<style lang="scss">
  #container {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 100px;
      max-width: 700px;
    }
  }
</style>
